/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* common */
.container{
    max-width: 1400px;
    margin: auto;
}
/* header */
header{
    background-color:  #FF6900;
}
.menu{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
ul{
    display: flex;
    color: white;
    width: 20%;
}
li{
    text-decoration: none;
    list-style: none;
    padding: 0 5px;
}
.logo{
    width: 60%;
    justify-content: center;
    align-items: center;
}
.img-logo{
    height: 30px;
    width: auto;
}
.login{
    width: 20%;
    color: white;
}
i{
    padding: 0 5px;
}
/* main */
.img1{
    display:  inline-block;
    padding-top: 60px;
    height: 645px;
    width: 445px;
}
.img1a{
    display: block;
    position: relative;
}
.img1b{
    display: inline-block;
}
.img-hover{
    display: none;
}
.img1:hover .img1b{
    display: block;
    
}
.img1:hover .img1a{
    display: none;
}


/* footer */